<html xmlns="http://www.w3.org/1999/xhtml">    
  <head>      
    <title>meta refresh to /dokuwiki/</title>      
    <meta http-equiv="refresh" content="0;URL='/dokuwiki/'" />    
  </head>    
  <body> 
  <p>meta refresh to <a href="/dokuwiki/">/dokuwiki/</a></p> 
  </body>  
</html>     
